@model IEnumerable<string>

    <h1>list of my roles</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
  
            <td>Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var Users in Model)
        {
                <tr>
                    <td>@Users</td>
                    
                </tr>
        }
    </tbody>
</table>